.make-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.make-flex-dir-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


